.formContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 48px;
  max-width: 522px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.sequence {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 944px;
  gap: 70px 16px;
}